<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>


<% if user_signed_in? %>
  <% @items.each do |item| %>
    <p><%= item.title %> | 
    <%= "$#{item.price.to_f/100}" %> | 
    <% hidden_field_tag 'item_id', item.id %>
    <%= button_to 'Add to Cart', cart_path(@current_cart) %></p>
  <% end %>
<% else %>
  <% @items.each do |item| %>
    <p><%= item.title %> | <%= "$#{item.price.to_f/100}" %></p>
  <% end %>
<% end %>